
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form-v9 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-35/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-35/css/style.css" />
</head>
<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('/colorlib-regform-35/images/form-v9.jpg')">
			<form class="form-detail" action="#" method="post">
				<h2>Registration Form</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="full-name" id="full-name" class="input-text">
					</div>
					<div class="form-row">
						<input type="text" name="your-email" id="your-email" class="input-text"  >
					</div>
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input type="password" name="password" id="password" class="input-text" >
					</div>
					<div class="form-row">
						<input type="password" name="comfirm-password" id="comfirm-password" class="input-text">
					</div>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>



<div class="container">
	<div class="row">
		<div class="col-md-6">
			<span>Ad:</span>
			<br />
			<input type="text" id="txtUser" /><br />
			<span>Mesaj:</span>
			<br />
			<textarea rows="5" cols="30" id="txtMsg"></textarea>
			<br />
			<button type="submit" class="btn btn-info" id="btnSend">Gönder</button>
		</div>
		<div class="col-md-6">
			<h3>Mesajlar</h3>
			<ul id="list" class="alert alert-info"></ul>
		</div>
	</div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>